*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280;
    margin: 0 auto;
}

header{
    padding: 40px 4%;
}

img{
    height: 100px;
    width: 100px;
}

header> .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

header a{
    color: rgb(84, 84, 84);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:aliceblue;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

