*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body{
    background-color: black;
    height: 100vh;
}

.interface{
    max-width: 1280;
    margin: 0 auto;
}

header{
    padding: 40px 4%;
}

img{
    height: 100px;
    width: 100px;
}

header> .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
}

header a{
    color: rgb(84, 84, 84);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color:aliceblue;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

h2 {
    color: aliceblue;
        position: absolute;
        top: 25%;
        left: 15%;
        transform: translate(-50%, -50%);
      }
      p {
        color: aliceblue;
        position: absolute;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
      }

      footer {
        background-color: rgb(51, 50, 50);
        padding: 5px;
        text-align: center;
        margin-top: 50px;
        
    }
    
footer nav ul li {
    list-style-type: none;
}

.img{
    margin-left: 800px;
    margin-top: 20px;
    width: auto;
    height: 500px;
}

.conteiner{
    max-width: 960;
    margin: 0 auto;
}

form{
    background-color: darkgreen;
    max-width: 500px;
    height: 450px;
    padding: 40px;
}
